.containe {
    max-width: 1000px;
    margin: 0 auto;
  }

/* EditCourses.css */

/* EditCourses.css */

/* Improved styling for form groups */
.form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .form-group input[type="radio"] {
    margin-right: 5px;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    border-color: #007bff; /* Highlight border color on focus */
  }
  
  /* Styling for primary button */
  .btn-primary {
    background-color: #28a745;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #218838;
  }
  
  /* Styling for danger button */
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  