.teacher-sidebar {
  width: 60px;
  height: 100%;
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items vertically */
}

.teacher-sidebar.open {
  width: 200px;
}

.sidebar-toggle {
  background: #444;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.kl {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.il {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: ${isSidebarOpen ? 'flex-end' : 'center'};
}

.logout-button {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center align the content vertically */
  padding: 15px;
  cursor: pointer;
}

.logout-button > span {
  margin-left: 10px;
}

.icon-text {
  margin-left: 8px;
}